.toggle-nav {
    visibility: hidden;
}

body {
    background-color: whitesmoke;
}

#content_body {
    /*background-image: url("/static/waterq/images/GrayScale_Chlor.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;*/
}

.mt25 {
    margin-top: 25px;
}

h6, .story {
    color: #9dd0f5;
    text-shadow: 2px 2px #000000;
}

#app-content {
    background-image: url(/static/waterq/images/GrayScale_Chlor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#app-content-wrapper.show-nav #app-content {
    padding-right: 0px;
    -webkit-transform: translateX(-0px);
    -moz-transform: translateX(-0px);
    -ms-transform: translateX(-0px);
    -o-transform: translateX(-0px);
    transform: translateX(-0px);
    -webkit-transform: translate3d(0px,0,0);
    -moz-transform: translate3d(0px,0,0);
    -ms-transform: translate3d(0px,0,0);
    -o-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
}

#app-navigation {
    display: none;
}

.innerTitle {
    color: #067ef5;
    text-shadow: 2px 2px #000000;
}

p {
    color: #9dd0f5;
    text-shadow: 2px 2px #000000;
    font-size: 16px;
}

#inner-app-content {
    padding: 0;
    /*background-color: #626262;*/
}

h2.chead, h2.title {
    background: #3F3C3C;
    color: #FFF;
    font-size: 18px;
    line-height: 21px;
    padding: 8px 0 6px;
    font-weight: 700;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 3px 3px 0 silver;
    text-align: center;
}

.hero-image {
    background-image: url("/static/waterq/images/hglobe.jpg"); /* The image used */
    background-color: black; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowContainers {
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 3px -10px 3px rgba(0,0,0,.35);
    box-shadow: 3px 5px 3px rgba(0,0,0,.35);
}

.containerContent {
    padding: 8px;
    min-height: 200px;
    background-color: #000000ad;
}

.toolbtn {
    max-width: 45%;
    float: left;
    cursor: pointer;
    padding: 5px;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 3px -10px 3px rgba(0,0,0,.35);
    box-shadow: 3px 5px 3px rgba(0,0,0,.35);
}

#app-actions {
    background-color: rgba(63, 60, 60, 0.07) !important;
    position: relative;
    padding-top: 8px;
}

#app-actions-spacer {
    display: none;
}

#servirlogo {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}

.jumbobox {
    background: 0 0;
    color: #fff;
    width: 500px;
    top: calc(50% - 32px);
    font-size: 32px;
    text-shadow: 2px 2px rgba(61,88,109,.75);
    font-weight: 600;
    text-align: center;
    display: inline-block;
    background-color: rgba(39, 40, 41, 0.8);
    padding: 20px;
    border-radius: 20px;
    webkit-box-shadow: 3px -10px 3px rgba(0,0,0,.35);
    box-shadow: 3px 5px 3px rgba(0,0,0,.35);
}

    .jumbobox a {
        color: #fff;
        font-size: 32px;
        text-shadow: 2px 2px rgba(61,88,109,.75);
        font-weight: 600;
        text-decoration: none;
    }

#credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: #cccccc52;
    border-radius: 5px;
    padding: 0 5px;
}
