body {
    overflow: hidden;
    font-family: Muli;
}

.leaflet-container {
    font: 12px/1.500 Muli;
    color: #044777;
}

.leaflet-popup-content-wrapper {
    border: 1px solid rgb(6,126,245);
    color: #044777 !important;
}

.leaflet-bar {
    border: 1px solid rgb(6, 126, 245) !important;
}

    .leaflet-bar a, .leaflet-bar a:hover {
        color: #044777;
        border-color: rgb(6, 126, 245) !important;
    }

.leaflet-touch .leaflet-control-layers, leaflet-touch .leaflet-bar {
    border: 1px solid rgb(6, 126, 245) !important;
}

.leaflet-draw-toolbar a {
    background-image: linear-gradient(transparent, transparent), url(images/spritesheet.svg) !important;
}

.icon-wrapper, .app-title-wrapper {
    cursor: pointer;
}

#inner-app-content {
    padding: 0;
    overflow: hidden;
}

#app-content, #inner-app-content {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#app-content-wrapper {
    overflow: hidden;
}

.title {
    text-align: center;
}

#map, #map2 {
    display: block;
    height: 100%;
    width: 50%;
    float: left;
}

.mapfull {
    width: 100% !important;
}

#map {
    border-right: 2px solid;
}

#map2 {
    border-left: 2px solid;
}

select {
    width: 100%;
}

.dates {
    display: inline-block;
}

#app-content-wrapper #app-content {
    padding-bottom: 0;
}

    #app-content-wrapper #app-content #app-navigation {
        background-color: #E5E7E9;
        box-shadow: 2px 5px 5px #868585;
        z-index: 500;
        height: calc(100vh - 2px);
        left: -250px;
        width: 250px;
    }

.optTitle {
    font-weight: 700;
}

#app-content-wrapper.show-nav #app-content {
    padding-right: 250px;
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transform: translate3d(250px,0,0);
    -moz-transform: translate3d(250px,0,0);
    -ms-transform: translate3d(250px,0,0);
    -o-transform: translate3d(250px,0,0);
    transform: translate3d(250px,0,0);
}

div#map1legend, div#map2legend {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 2px;
}

#ismobile {
    display: none;
}

@media (max-width: 768px) {
    #app-navigation {
        overflow: scroll;
        max-height: 100vh;
    }

    #app-content-wrapper{
        /*padding-top:50px;*/
        overflow-x: scroll;
    } 
    
    #app-content-wrapper #app-navigation {
        width: 0 !important;
        left: 100vw !important;
    }

    #app-content-wrapper.show-nav #app-navigation {
        width: 100% !important;
        left: -100vw !important;
    }

    #app-content-wrapper.show-nav-custom #app-navigation {
        width: 100% !important;
        left: -100vw !important;
    }

    #app-content-wrapper #inner-app-content {
        width: 100%;
    }

    #app-content-wrapper.show-nav #inner-app-content {
        width: 0;
    }

    #app-content-wrapper.show-nav-custom #inner-app-content {
        width: 0;
    }

    #app-content-wrapper #app-content {
        webkit-transition: .2s ease-in-out all;
        -moz-transition: .2s ease-in-out all;
        -o-transition: .2s ease-in-out all;
        -ms-transition: .2s ease-in-out all;
        transition: .2s ease-in-out all;
        width: 100%;
    }

    #app-content-wrapper.show-nav #app-content {
        padding-right: 100vw;
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
        transform: translateX(100vw);
        -webkit-transform: translate3d(100vw,0,0);
        -moz-transform: translate3d(100vw,0,0);
        -ms-transform: translate3d(100vw,0,0);
        -o-transform: translate3d(100vw,0,0);
        transform: translate3d(100vw,0,0);
    }

    #app-content-wrapper.show-nav-custom #app-content {
        padding-right: 100vw;
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
        transform: translateX(100vw);
        -webkit-transform: translate3d(100vw,0,0);
        -moz-transform: translate3d(100vw,0,0);
        -ms-transform: translate3d(100vw,0,0);
        -o-transform: translate3d(100vw,0,0);
        transform: translate3d(100vw,0,0);
    }

    #map, #map2 {
        height: 50%;
        width: 100%;
        border-left: unset;
    }

    #map2 {
        border-top: 2px solid;
    }

    .mapfull {
        height: 100% !important;
    }

    #ismobile {
        display: block;
    }
}
